<div class="container" style="overflow: hidden;">
    <div class="row">
        <div class="col-12">
            <h2 style="font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; text-align: center;"
            > <span class="utility1 rounded">List of Employees</span> </h2>
        </div>
        <div class="scrollbar">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">UID</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col"><span style="margin-left: 90px;">Action</span></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let employee of employees | async">
                        <td>{{employee.id}}</td>
                        <td>{{employee.uid}}</td>
                        <td>{{employee.firstName}}</td>
                        <td>{{employee.lastName}}</td>
                        <td>
                            <button class="btn btn-outline-danger"
                                (click)="deleteEmployee(employee.uid)">Delete</button>
                            <button class="btn btn-outline-info" (click)="employeeDetails(employee.uid)"
                                style="margin-left: 10px">Details</button>
                            <button class="btn btn-outline-primary" style="margin-left: 10px"
                                (click)="updateEmployee(employee.uid)">Edit</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>